<IfModule mod_rewrite.c>
    RewriteEngine On

    # Если файл или директория реально существует — не трогаем
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d


</IfModule>